### .gitignore template

# Intellij
*.iml
.idea/**/*.xml
.idea/.name
!.idea/copyright/*.xml
!.idea/codeStyleSettings.xml
!.idea/modules/*.iml

# Gradle files
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties
